@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:300&display=swap");
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url("../assets/fonts/ProximaNova-Bold.eot");
  src: url("../assets/fonts/ProximaNova-Bold.eot?#iefix") format("embedded-opentype"), url("../assets/fonts/ProximaNova-Bold.woff") format("woff"), url("../assets/fonts/ProximaNova-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

.Main {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #0f5f5c;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.BotLine {
  width: 66px;
  border: 1px solid #6fb048;
  margin-bottom: 20px;
  text-align: center;
}

.Paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #83a7a5;
  font-size: 15px;
  margin-bottom: 70px;
  text-align: center;
}

.container {
  width: 100%;
}

.container .header {
  background-image: url("../assets/img/header.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 660px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .header .header__up {
  min-height: 85px;
  max-width: 1065px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  list-style-type: none;
  border-bottom: 1px solid grey;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .header .header__up .header__logo {
  border-right: 1px solid grey;
  padding-right: 25px;
}

.container .header .header__up .header__logo a {
  font-size: 29px;
  font-family: 'Proxima Nova Bold', sans-serif;
}

.container .header .header__up .header__cellphone {
  margin-left: 25px;
  margin-right: 290px;
}

.container .header .header__up .header__cellphone a:before {
  content: url(../assets/img/header__cellfone.svg);
  margin-right: 5px;
}

.container .header .header__up .header__GetStarted {
  padding: 12px 15px;
  background-color: #6b8383;
  border-radius: 5px;
}

.container .header .header__up .header__GetStarted:hover {
  background-color: #6fb048;
}

.container .header .header__up li {
  margin-right: 19px;
  font-family: 'Montserrat', sans-serif;
}

.container .header .header__up li a {
  font-size: 13px;
  color: #bec8c8;
  font-weight: 700;
}

.container .header .header__up li a:hover {
  color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.container .header .header__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  color: #ffffff;
  max-width: 960px;
  margin: auto 0;
}

.container .header .header__text .header__h3 {
  font-size: 38px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.container .header .header__text .header__paragraph {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  max-width: 505px;
  margin-bottom: 25px;
}

.container .header .header__text .header__button {
  font-size: 14px;
  font-family: 'Montserrat';
  padding: 20px 45px;
  background-color: #6fb048;
  width: 100px;
  color: #ffffff;
}

.container .BestOfOurFeatures {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .BestOfOurFeatures .BestOfOurFeatures__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .BestOfOurFeatures .BestOfOurFeatures__cards .BestOfOurFeatures__card {
  max-width: 320px;
  text-align: center;
  margin-bottom: 32px;
}

.container .BestOfOurFeatures .BestOfOurFeatures__cards .BestOfOurFeatures__card .BestOfOurFeatures__h6 {
  margin-top: 25px;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #0f5f5c;
}

.container .BestOfOurFeatures .BestOfOurFeatures__cards .BestOfOurFeatures__card .BestOfOurFeatures__p {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #83a7a5;
}

.container .BestOfOurFeatures .EmptyBlocks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 90px;
  border-bottom: 2px solid #f2f2f2;
  margin-bottom: 65px;
  height: 90px;
}

.container .BestOfOurFeatures .EmptyBlocks .EmptyBlocks__1 {
  border-right: 2px solid #f2f2f2;
  width: 10%;
}

.container .BestOfOurFeatures .ListsDown {
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 50px;
  margin-bottom: 130px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list {
  max-width: 495px;
  margin-right: 75px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_1,
.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_2,
.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_3,
.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_4 {
  font-size: 16px;
  color: #0f5f5c;
  margin-bottom: 30px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_1::before {
  content: url("../assets/img/crossbrows.svg");
  margin-right: 20px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_2::before {
  content: url("../assets/img/creatIdea.svg");
  margin-right: 20px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_3::before {
  content: url("../assets/img/pixperf.svg");
  margin-right: 20px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__h6_4::before {
  content: url("../assets/img/Freef.svg");
  margin-right: 20px;
}

.container .BestOfOurFeatures .ListsDown .ListsDown__list .ListsDown__paragraph {
  color: #83a7a5;
  font-size: 14px;
  margin-bottom: 60px;
}

.container .LookingFor {
  max-height: 665px;
  background-color: #eef1ec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 75px;
}

.container .LookingFor .LookingFor__LeftHand-RightText {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 1050px;
  height: 497px;
}

.container .LookingFor .LookingFor__LeftHand-RightText .LookingFor__LeftHand {
  background-image: url(../assets/img/Hand.png);
  background-repeat: no-repeat;
  background-position: 0 15px;
  width: 600px;
  height: 100%;
}

.container .LookingFor .LookingFor__LeftHand-RightText .LookingFor__RightText {
  width: 40%;
  font-family: 'Roboto', sans-serif;
}

.container .LookingFor .LookingFor__LeftHand-RightText .LookingFor__RightText .LookingFor__h4 {
  color: #0f5f5c;
  font-size: 32px;
  font-weight: 300;
  margin-bottom: 20px;
}

.container .LookingFor .LookingFor__LeftHand-RightText .LookingFor__RightText .LookingFor__paragraph {
  color: #83a7a5;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 20px;
}

.container .LookingFor .LookingFor__LeftHand-RightText .LookingFor__RightText .LookingFor__p {
  color: #83a7a5;
  font-size: 14px;
}

.container .LookingFor .LookingFor__LeftHand-RightText .LookingFor__RightText .LookingFor__p:before {
  content: url(../assets/img/LookForGalka.svg);
  margin-right: 20px;
  vertical-align: -8px;
}

.container .ValeriaBoltneva {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .ValeriaBoltneva .ValeriaBoltneva__about {
  width: 47%;
  min-width: 320px;
  margin-top: 140px;
  margin-bottom: 140px;
}

.container .ValeriaBoltneva .ValeriaBoltneva__about .ValeriaBoltneva__p {
  margin-right: 100px;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  color: #83a7a5;
}

.container .ValeriaBoltneva .ValeriaBoltneva__about .ValeriaBoltneva__autor {
  font-family: 'Roboto Medium', sans-serif;
  color: #6fb048;
  font-size: 14px;
}

.container .ValeriaBoltneva .ValeriaBoltneva__about .ValeriaBoltneva__Inc {
  font-family: 'Roboto', sans-serif;
  color: #83a7a5;
  font-size: 14px;
}

.container .ValeriaBoltneva .ValeriaBoltneva__foto {
  background-image: url("../assets/img/Woman.png");
  background-position: center;
  background-size: cover;
  width: 400px;
  height: 400px;
  margin-top: 140px;
  margin-bottom: 140px;
}

.container .Built {
  background-image: url(../assets/img/map.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

.container .Built .Built__h3 {
  font-size: 32px;
  color: #0f5f5c;
  font-weight: 300;
  width: 40%;
  margin-bottom: 18px;
  padding-top: 175px;
  margin-left: 205px;
}

.container .Built .Built__p {
  font-size: 14px;
  color: #83a7a5;
  font-weight: 400;
  width: 40%;
  margin-left: 205px;
  padding-bottom: 175px;
}

.container .PricingPlan {
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .PricingPlan .PricingPlan__tarifes {
  margin-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card {
  border: 1px solid #c1d3d2;
  width: 255px;
  text-align: center;
  min-height: 430px;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card .PricingPlan__type {
  font-family: 'Roboto Medium', sans-serif;
  color: #6fb048;
  font-size: 15px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card .PricingPlan__price {
  font-family: 'Montserrat', sans-serif;
  font-size: 65px;
  color: #0f5f5c;
  line-height: 60px;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card .PricingPlan__month {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #0f5f5c;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card .PricingPlan__list {
  list-style-type: none;
  color: #83a7a5;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding-top: 25px;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card li {
  padding-bottom: 20px;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card .PricingPlan__button {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  padding: 17px 25px;
  background-color: #83a7a5;
  font-weight: 400;
}

.container .PricingPlan .PricingPlan__tarifes .PricingPlan__card .PricingPlan__button:hover {
  background-color: #6fb048;
}

.container .PricingPlan .PricingPlan__h4 {
  font-family: 'Roboto Light', sans-serif;
  font-size: 22px;
  color: #0f5f5c;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container .PricingPlan .BotLine {
  margin-top: 20px;
}

.container .PricingPlan .PricingPlan__lists {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.container .PricingPlan .PricingPlan__lists .PricingPlan__ul {
  list-style-type: none;
  margin-right: 70px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #83a7a5;
}

.container .PricingPlan .PricingPlan__lists .PricingPlan__ul li:before {
  content: url(../assets/img/blueGalka.svg);
  vertical-align: -7px;
  margin-right: 15px;
}

.container .PricingPlan .PricingPlan__Circle {
  background-image: url(../assets/img/NeedHelp.svg);
  background-position: center;
  background-size: cover;
  width: 40px;
  height: 40px;
  margin-top: 55px;
}

.container .PricingPlan .PricingPlan__NeedHelp {
  font-family: 'Roboto Light', sans-serif;
  color: #6fb048;
  font-size: 32px;
  margin-top: 20px;
}

.container .PricingPlan .PricingPlan__Paragraph {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #83a7a5;
  margin-bottom: 40px;
}

.container .PricingPlan .PricingPlan__email {
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #0f5f5c;
}

.container .Download {
  background-image: url(../assets/img/LikeWapic.jpg);
  background-size: cover;
  padding-top: 75px;
  padding-bottom: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Download .Download__h3-p {
  margin-right: 200px;
}

.container .Download .Download__h3-p .Download__h3 {
  font-family: 'Roboto Light', sans-serif;
  font-size: 28px;
  color: #0f5f5c;
}

.container .Download .Download__h3-p .Download__p {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: #83a7a5;
}

.container .Download .Download__button {
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  color: #fff;
  font-weight: 400;
  padding: 15px 20px;
  background-color: #83a7a5;
}

.container .Download .Download__button:hover {
  background-color: #6fb048;
}

.container .Footer {
  margin-top: 100px;
  margin-bottom: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Footer .Company__head,
.container .Footer .Others__head,
.container .Footer .Newsletter__head {
  font-family: 'Roboto Medium';
  font-size: 13px;
  color: #0f5f5c;
}

.container .Footer .Wapic {
  list-style-type: none;
  margin-right: 87px;
}

.container .Footer .Wapic .Wapic__Head {
  font-family: 'Proxima Nova Bold', sans-serif;
  font-weight: 700;
  font-size: 22px;
  color: #0f5f5c;
}

.container .Footer .Wapic .Wapic__Mail {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #0f5f5c;
}

.container .Footer .Wapic .Wapic__Mail:before {
  content: "@:";
}

.container .Footer .Wapic li {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  color: #83a7a5;
  margin-bottom: 13px;
}

.container .Footer .Company {
  list-style-type: none;
  margin-right: 205px;
}

.container .Footer .Company li {
  margin-bottom: 13px;
}

.container .Footer .Company li a {
  font-family: 'Roboto', sans-serif;
  color: #83a7a5;
  font-size: 13px;
}

.container .Footer .Company a:hover {
  color: #6fb048;
}

.container .Footer .Others {
  list-style-type: none;
  margin-right: 185px;
}

.container .Footer .Others li {
  margin-bottom: 13px;
}

.container .Footer .Others li a {
  font-family: 'Roboto', sans-serif;
  color: #83a7a5;
  font-size: 13px;
}

.container .Footer .Others a:hover {
  color: #6fb048;
}

.container .Footer .Newsletter {
  list-style-type: none;
}

.container .Footer .Newsletter li {
  font-family: 'Roboto', sans-serif;
  color: #83a7a5;
  font-size: 13px;
  margin-bottom: 20px;
}

.container .Footer .Newsletter .Newsletter__Form {
  position: relative;
}

.container .Footer .Newsletter .Newsletter__Form .Newsletter__Email {
  background-color: #eef1ec;
  padding: 5px;
  width: 250px;
  border: none;
  color: #83a7a5;
  font-size: 13px;
  font-family: 'Roboto Medium', sans-serif;
}

.container .Footer .Newsletter .Newsletter__Form .Newsletter__Button {
  background-image: url(../assets/img/send.svg);
  background-repeat: no-repeat;
  width: 23px;
  height: 23px;
  position: absolute;
  top: 2px;
  right: 45px;
  border: none;
}

.container hr {
  border: 1px solid #e5e7e2;
  max-width: 1100px;
  margin: 0 auto;
}

.container .SocNetw {
  max-width: 1065px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px auto;
}

.container .SocNetw .SocNetw__AllRights {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  color: #83a7a5;
}

.container .header-contact-us {
  background-image: none;
}

.container .header-contact-us .header__up-contact-us {
  border-bottom: none;
  margin: 0 auto;
}

.container .header-contact-us .header__up-contact-us .header__logo-contact-us a {
  color: #0f5f5c;
}

.container .header-contact-us .header__up-contact-us .header__logo-contact-us a:hover {
  color: green;
}

.container .header-contact-us .header__up-contact-us .header__cellphone-contact-us a:before {
  content: url(../assets/img/header__cellfone-contact-us.svg);
}

.container .header-contact-us .header__up-contact-us .header__cellphone-contact-us a:hover {
  color: green;
}

.container .header-contact-us .header__up-contact-us .header-contact-us__li a:hover {
  color: green;
}

.container .header-contact-us .header-contact-us__map {
  height: 500px;
  width: 100%;
}

.container .Get-in-Touch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.container .Get-in-Touch .Get-in-Touch__h3 {
  font-family: 'Roboto Light', sans-serif;
  font-size: 32px;
  color: #0f5f5c;
  margin-bottom: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form {
  margin-right: 65px;
  width: 50%;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form input,
.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form textarea {
  width: 100%;
  border: 2px solid #c1d3d2;
  margin-bottom: 28px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  color: #2d9c99;
  resize: none;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form input:focus,
.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form textarea:focus {
  border: 2px solid #6fb048;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 1px 3px 5px #6fb048;
          box-shadow: 1px 3px 5px #6fb048;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form ::-webkit-input-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #0f5f5c;
  font-size: 15px;
  padding: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form :-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #0f5f5c;
  font-size: 15px;
  padding: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form ::-ms-input-placeholder {
  font-family: 'Roboto', sans-serif;
  color: #0f5f5c;
  font-size: 15px;
  padding: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form ::placeholder {
  font-family: 'Roboto', sans-serif;
  color: #0f5f5c;
  font-size: 15px;
  padding: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form button {
  font-family: 'Montserrat', sans-serif;
  color: #ffff;
  padding: 10px 40px;
  background-color: #6fb048;
  border: none;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater {
  font-family: 'Roboto', sans-serif;
  padding-top: 35px;
  padding-left: 40px;
  border: 2px dashed #c1d3d2;
  height: 260px;
  width: 30%;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__h4 {
  font-size: 22px;
  color: #0f5f5c;
  margin-bottom: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Adress {
  width: 50%;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Email,
.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Adress,
.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Cell {
  font-size: 15px;
  color: #83a7a5;
  margin-bottom: 20px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Adress::before {
  content: url("../assets/img/headq_geo.svg");
  margin-right: 10px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Cell::before {
  content: url("../assets/img/headq_cell.svg");
  margin-right: 10px;
}

.container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater .Get-in-Touch__Email::before {
  content: url("../assets/img/headq_mail.svg");
  margin-right: 10px;
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .container {
    width: 100%;
  }
  .container .header, .container .header-contact-us {
    height: 45vh;
    width: 100%;
  }
  .container .header .header__up, .container .header .header__up-contact-us, .container .header-contact-us .header__up, .container .header-contact-us .header__up-contact-us {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: none;
  }
  .container .header .header__up .header__logo, .container .header .header__up .header__logo-contact-us, .container .header .header__up-contact-us .header__logo, .container .header .header__up-contact-us .header__logo-contact-us, .container .header-contact-us .header__up .header__logo, .container .header-contact-us .header__up .header__logo-contact-us, .container .header-contact-us .header__up-contact-us .header__logo, .container .header-contact-us .header__up-contact-us .header__logo-contact-us {
    border-right: none;
    padding-right: 0;
    margin-bottom: 15px;
    margin-top: 10px;
  }
  .container .header .header__up .header__cellphone, .container .header .header__up .header__cellphone-contact-us, .container .header .header__up-contact-us .header__cellphone, .container .header .header__up-contact-us .header__cellphone-contact-us, .container .header-contact-us .header__up .header__cellphone, .container .header-contact-us .header__up .header__cellphone-contact-us, .container .header-contact-us .header__up-contact-us .header__cellphone, .container .header-contact-us .header__up-contact-us .header__cellphone-contact-us {
    display: none;
  }
  .container .header .header__up li, .container .header .header__up-contact-us li, .container .header-contact-us .header__up li, .container .header-contact-us .header__up-contact-us li {
    margin-bottom: 5px;
  }
  .container .header .header-contact-us__map, .container .header-contact-us .header-contact-us__map {
    max-width: 100%;
  }
  .container .header .header__text, .container .header-contact-us .header__text {
    text-align: center;
    min-width: 320px;
    margin-top: 50px;
  }
  .container .header .header__button, .container .header-contact-us .header__button {
    margin: auto;
  }
  .container .BestOfOurFeatures {
    margin: auto;
  }
  .container .BestOfOurFeatures .EmptyBlocks {
    display: none;
  }
  .container .BestOfOurFeatures .ListsDown {
    margin-bottom: 0;
    margin-left: 0;
    text-align: center;
  }
  .container .BestOfOurFeatures .ListsDown .ListsDown__list {
    margin-right: 0;
  }
  .container .LookingFor {
    display: none;
  }
  .container .ValeriaBoltneva .ValeriaBoltneva__about {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .container .ValeriaBoltneva .ValeriaBoltneva__about .ValeriaBoltneva__p {
    margin-right: 0;
  }
  .container .ValeriaBoltneva .ValeriaBoltneva__foto {
    max-width: 100%;
    background-size: cover;
    background-position: center;
    margin-top: 20px;
    margin-bottom: 0;
  }
  .container .Built {
    margin-top: 90px;
    text-align: center;
    height: 20vh;
  }
  .container .Built .Built__h3 {
    margin-left: 0;
    padding-top: 20px;
    width: 100%;
  }
  .container .Built .Built__p {
    margin-left: 0;
    width: 100%;
  }
  .container .PricingPlan .PricingPlan__lists .PricingPlan__ul {
    margin-right: 0;
  }
  .container .Get-in-Touch .Get-in-Touch__Form-Headquater {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
  }
  .container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form {
    width: 80%;
    margin-right: 0;
    text-align: center;
    margin-bottom: 20px;
  }
  .container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form input, .container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch__Form textarea {
    width: 90%;
  }
  .container .Get-in-Touch .Get-in-Touch__Form-Headquater .Get-in-Touch___Headquater {
    width: 68%;
  }
  .container .Download .Download__h3-p {
    text-align: center;
    margin-right: 0;
  }
  .container .Download .Download__h3-p .Download__h3 {
    margin-bottom: 10px;
  }
  .container .Download .Download__h3-p .Download__p {
    margin-bottom: 10px;
  }
  .container .Footer {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container .SocNetw {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .SocNetw .SocNetw__AllRights {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 561px) and (max-width: 1059px) {
  .container .header .header__up .header__cellfone {
    margin-right: 30px;
    margin-left: 1px;
  }
  .container .header .header__up li {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */