//fonts
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../assets/fonts/ProximaNova-Bold.eot');
  src: url('../assets/fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('../assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap'); //roboto regular
@import url('https://fonts.googleapis.com/css?family=Merriweather:300&display=swap'); //Merriweather light

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
  outline: none;
}

.Main {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #0f5f5c;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}

.BotLine {
  width: 66px;
  border: 1px solid #6fb048;
  margin-bottom: 20px;
  text-align: center;
}

.Paragraph {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #83a7a5;
  font-size: 15px;
  margin-bottom: 70px;
  text-align: center;
}

.container {
  width: 100%;

  .header {
    background-image: url('../assets/img/header.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 660px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;


    .header__up {
      min-height: 85px;
      // max-width: 1065px;
      display: flex;
      flex-flow: row nowrap;
      list-style-type: none;
      border-bottom: 1px solid grey;
      align-items: center;

      .header__logo {
        border-right: 1px solid grey;
        padding-right: 25px;

        a {
          font-size: 29px;
          font-family: 'Proxima Nova Bold', sans-serif;
        }
      }

      .header__cellphone {
        margin-left: 25px;
        margin-right: 250px;

        a:before {
          content: url(../assets/img/header__cellfone.svg);
          margin-right: 5px;
        }
      }

      .header__GetStarted {
        padding: 12px 15px;
        background-color: #6b8383;
        border-radius: 5px;
      }

      .header__GetStarted:hover {
        background-color: #6fb048;
      }

      li {
        margin-right: 19px;
        font-family: 'Montserrat', sans-serif;

        a {
          font-size: 13px;
          color: #bec8c8;
          font-weight: 700;
        }

        a:hover {
          color: #ffffff;
          transition: 0.3s;
        }

      }
    }

    .header__text {
      display: flex;
      flex-flow: column wrap;
      color: #ffffff;
      max-width: 960px;
      margin: auto 0;

      .header__h3 {
        font-size: 38px;
        margin-bottom: 20px;
        font-family: 'Roboto', sans-serif;
      }

      .header__paragraph {
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        max-width: 505px;
        margin-bottom: 25px;
      }

      .header__button {
        font-size: 14px;
        font-family: 'Montserrat';
        padding: 20px 45px;
        background-color: #6fb048;
        width: 100px;
        color: #ffffff;

      }
    }
  }

  .BestOfOurFeatures {
    margin-top: 100px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;

    .BestOfOurFeatures__cards {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .BestOfOurFeatures__card {
        max-width: 320px;
        text-align: center;
        margin-bottom: 32px;

        .BestOfOurFeatures__h6 {
          margin-top: 25px;
          margin-bottom: 20px;
          font-family: 'Roboto', sans-serif;
          font-size: 16px;
          font-weight: 600;
          color: #0f5f5c;

        }

        .BestOfOurFeatures__p {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          color: #83a7a5;
        }

      }
    }

    .EmptyBlocks {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 90px;
      border-bottom: 2px solid #f2f2f2;
      margin-bottom: 65px;
      height: 90px;

      .EmptyBlocks__1 {
        border-right: 2px solid #f2f2f2;
        width: 10%;

      }
    }

    .ListsDown {
      font-family: 'Roboto', sans-serif;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      margin-left: 50px;
      margin-bottom: 130px;

      .ListsDown__list {
        max-width: 495px;
        margin-right: 75px;

        .ListsDown__h6_1,
        .ListsDown__h6_2,
        .ListsDown__h6_3,
        .ListsDown__h6_4 {
          font-size: 16px;
          color: #0f5f5c;
          margin-bottom: 30px;
        }

        .ListsDown__h6_1::before {
          content: url('../assets/img/crossbrows.svg');
          margin-right: 20px;
        }

        .ListsDown__h6_2::before {
          content: url('../assets/img/creatIdea.svg');
          margin-right: 20px;
        }

        .ListsDown__h6_3::before {
          content: url('../assets/img/pixperf.svg');
          margin-right: 20px;
        }

        .ListsDown__h6_4::before {
          content: url('../assets/img/Freef.svg');
          margin-right: 20px;
        }

        .ListsDown__paragraph {
          color: #83a7a5;
          font-size: 14px;
          margin-bottom: 60px;
        }
      }
    }
  }

  .LookingFor {
    max-height: 665px;
    background-color: #eef1ec;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 75px;

    .LookingFor__LeftHand-RightText {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      max-width: 1050px;
      height: 497px;

      .LookingFor__LeftHand {
        background-image: url(../assets/img/Hand.png);
        background-repeat: no-repeat;
        background-position: 0 15px;
        width: 600px;
        // width: 50%;
        height: 100%;
      }

      .LookingFor__RightText {
        width: 40%;
        font-family: 'Roboto', sans-serif;

        .LookingFor__h4 {
          color: #0f5f5c;
          font-size: 32px;
          font-weight: 300;
          margin-bottom: 20px;
        }

        .LookingFor__paragraph {
          color: #83a7a5;
          font-size: 14px;
          font-weight: 400;
          margin-bottom: 20px;

        }

        .LookingFor__p {
          color: #83a7a5;
          font-size: 14px;
        }

        .LookingFor__p:before {
          content: url(../assets/img/LookForGalka.svg);
          margin-right: 20px;
          vertical-align: -8px;
        }
      }
    }
  }

  .ValeriaBoltneva {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;

    .ValeriaBoltneva__about {
      width: 47%;
      min-width: 320px;
      margin-top: 140px;
      margin-bottom: 140px;

      .ValeriaBoltneva__p {
        margin-right: 100px;
        font-family: 'Merriweather', serif;
        font-size: 22px;
        color: #83a7a5;
      }

      .ValeriaBoltneva__autor {
        font-family: 'Roboto Medium', sans-serif;
        color: #6fb048;
        font-size: 14px;
      }

      .ValeriaBoltneva__Inc {
        font-family: 'Roboto', sans-serif;
        color: #83a7a5;
        font-size: 14px;
      }
    }

    .ValeriaBoltneva__foto {
      background-image: url('../assets/img/Woman.png');
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
      margin-top: 140px;
      margin-bottom: 140px;
    }
  }

  .Built {
    background-image: url(../assets/img/map.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    font-family: 'Roboto', sans-serif;

    .Built__h3 {
      font-size: 32px;
      color: #0f5f5c;
      font-weight: 300;
      width: 40%;
      margin-bottom: 18px;
      padding-top: 175px;
      margin-left: 205px;

    }

    .Built__p {
      font-size: 14px;
      color: #83a7a5;
      font-weight: 400;
      width: 40%;
      margin-left: 205px;
      padding-bottom: 175px;
    }
  }

  .PricingPlan {
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    .PricingPlan__tarifes {
      margin-bottom: 80px;
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      justify-content: center;

      .PricingPlan__card {
        border: 1px solid #c1d3d2;
        width: 255px;
        text-align: center;
        min-height: 430px;


        .PricingPlan__type {
          font-family: 'Roboto Medium', sans-serif;
          color: #6fb048;
          font-size: 15px;
          padding-top: 30px;
          padding-bottom: 30px;
        }

        .PricingPlan__price {
          font-family: 'Montserrat', sans-serif;
          font-size: 65px;
          color: #0f5f5c;
          line-height: 60px;
        }

        .PricingPlan__month {
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #0f5f5c;

        }

        .PricingPlan__list {
          list-style-type: none;
          color: #83a7a5;
          font-family: 'Roboto', sans-serif;
          font-size: 14px;
          padding-top: 25px;
        }

        li {
          padding-bottom: 20px;

        }

        .PricingPlan__button {
          font-family: 'Montserrat', sans-serif;
          color: #ffffff;
          padding: 17px 25px;
          background-color: #83a7a5;
          font-weight: 400;
        }

        .PricingPlan__button:hover {
          background-color: #6fb048;
        }

      }

    }

    .PricingPlan__h4 {
      font-family: 'Roboto Light', sans-serif;
      font-size: 22px;
      color: #0f5f5c;
      justify-self: center;
    }

    .BotLine {
      margin-top: 20px;
    }

    .PricingPlan__lists {
      margin-top: 35px;
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      .PricingPlan__ul {
        list-style-type: none;
        margin-right: 70px;
        font-family: 'Roboto', sans-serif;
        font-size: 14px;
        color: #83a7a5;

        li:before {
          content: url(../assets/img/blueGalka.svg);
          vertical-align: -7px;
          margin-right: 15px;
        }
      }
    }

    .PricingPlan__Circle {
      background-image: url(../assets/img/NeedHelp.svg);
      background-position: center;
      background-size: cover;
      width: 40px;
      height: 40px;
      margin-top: 55px;
    }

    .PricingPlan__NeedHelp {
      font-family: 'Roboto Light', sans-serif;
      color: #6fb048;
      font-size: 32px;
      margin-top: 20px;
    }

    .PricingPlan__Paragraph {
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      color: #83a7a5;
      margin-bottom: 40px;
      text-align: center;
    }

    .PricingPlan__email {
      font-size: 18px;
      font-family: 'Roboto', sans-serif;
      color: #0f5f5c;
    }
  }

  .Download {
    background-image: url(../assets/img/LikeWapic.jpg);
    background-size: cover;
    padding-top: 75px;
    padding-bottom: 75px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    .Download__h3-p {
      margin-right: 200px;

      .Download__h3 {
        font-family: 'Roboto Light', sans-serif;
        font-size: 28px;
        color: #0f5f5c;
      }

      .Download__p {
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        color: #83a7a5;
      }
    }

    .Download__button {
      font-family: 'Montserrat', sans-serif;
      font-size: 13px;
      color: #fff;
      font-weight: 400;
      padding: 15px 20px;
      background-color: #83a7a5;
    }

    .Download__button:hover {
      background-color: #6fb048;
    }
  }

  .Footer {
    margin-top: 100px;
    margin-bottom: 60px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;


    .Company__head,
    .Others__head,
    .Newsletter__head {
      font-family: 'Roboto Medium';
      font-size: 13px;
      color: #0f5f5c;
    }

    .Wapic {
      list-style-type: none;
      margin-right: 87px;


      .Wapic__Head {
        font-family: 'Proxima Nova Bold', sans-serif;
        font-weight: 700;
        font-size: 22px;
        color: #0f5f5c;
      }

      .Wapic__Mail {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: #0f5f5c;
      }

      .Wapic__Mail:before {
        content: "@:";
      }

      li {
        font-family: 'Roboto', sans-serif;
        font-size: 13px;
        color: #83a7a5;
        margin-bottom: 13px;
      }

      ;
    }

    .Company {
      list-style-type: none;
      margin-right: 205px;

      li {
        margin-bottom: 13px;

        a {
          font-family: 'Roboto', sans-serif;
          color: #83a7a5;
          font-size: 13px;
        }
      }

      a:hover {
        color: #6fb048;
      }
    }

    .Others {
      list-style-type: none;
      margin-right: 185px;

      li {
        margin-bottom: 13px;

        a {
          font-family: 'Roboto', sans-serif;
          color: #83a7a5;
          font-size: 13px;
        }
      }

      a:hover {
        color: #6fb048;
      }
    }

    .Newsletter {
      list-style-type: none;
      .Newsletter__head{
        font-family: 'Roboto Medium';
        font-size: 13px;
        color: #0f5f5c;
        font-weight: 500;
      }
      li {
        font-family: 'Roboto', sans-serif;
        color: #83a7a5;
        font-size: 13px;
        margin-bottom: 20px;
      }

      .Newsletter__Form {
        position: relative;

        .Newsletter__Email {
          background-color: #eef1ec;
          padding: 5px;
          width: 250px;
          border: none;
          color: #83a7a5;
          font-size: 13px;
          font-family: 'Roboto Medium', sans-serif;
        }

        .Newsletter__Button {
          background-image: url(../assets/img/send.svg);
          background-repeat: no-repeat;
          width: 23px;
          height: 23px;
          position: absolute;
          top: 2px;
          right: 45px;
          border: none;
        }
      }
    }
  }

  hr {
    border: 1px solid #e5e7e2;
    max-width: 1100px;
    margin: 0 auto;
  }

  .SocNetw {
    max-width: 1065px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 20px auto;

    .SocNetw__AllRights {
      font-family: 'Roboto', sans-serif;
      font-size: 12px;
      color: #83a7a5;
    }
  }
}

//Contact Us
.container{
  width: 100%;
  .header-contact-us {
    background-image: none;

    .header__up-contact-us {
      border-bottom: none;
      margin: 0 auto;

      .header__logo-contact-us {
        a {
          color: #0f5f5c;
        }

        a:hover {
          color: green;
        }
      }

      .header__cellphone-contact-us {
        a:before {
          content: url(../assets/img/header__cellfone-contact-us.svg);
        }

        a:hover {
          color: green;
        }
      }

      .header-contact-us__li {
        a:hover {
          color: green;
        }
      }
    }

    .header-contact-us__map {
      height: 500px;
      width: 100%;

    }
  }

  .Get-in-Touch {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    margin-bottom: 100px;

    .Get-in-Touch__h3 {
      font-family: 'Roboto Light', sans-serif;
      font-size: 32px;
      color: #0f5f5c;
      margin-bottom: 20px;
    }

    .Get-in-Touch__Form-Headquater {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;

      .Get-in-Touch__Form {
        margin-right: 65px;
        width: 50%;


        input,
        textarea {
          width: 100%;
          border: 2px solid #c1d3d2;
          margin-bottom: 28px;
          padding: 10px;
          font-family: 'Roboto', sans-serif;
          color: #2d9c99;
          resize: none;
        }

        input:focus,
        textarea:focus {
          border: 2px solid #6fb048;
          transition: 0.3s;
          box-shadow: 1px 3px 5px #6fb048;
        }

        ::placeholder {
          font-family: 'Roboto', sans-serif;
          color: #0f5f5c;
          font-size: 15px;
          padding: 20px;
        }

        button {
          font-family: 'Montserrat', sans-serif;
          color: #ffff;
          padding: 10px 40px;
          background-color: #6fb048;
          border: none;
        }

      }

      .Get-in-Touch___Headquater {
        font-family: 'Roboto', sans-serif;
        padding-top: 35px;
        padding-left: 40px;
        border: 2px dashed #c1d3d2;
        height: 260px;
        width: 30%;

        .Get-in-Touch__h4 {
          font-size: 22px;
          color: #0f5f5c;
          margin-bottom: 20px;


        }

        .Get-in-Touch__Adress {
          width: 50%;
        }

        .Get-in-Touch__Email,
        .Get-in-Touch__Adress,
        .Get-in-Touch__Cell {
          font-size: 15px;
          color: #83a7a5;
          margin-bottom: 20px;

        }

        .Get-in-Touch__Adress::before {
          content: url('../assets/img/headq_geo.svg');
          margin-right: 10px;
        }

        .Get-in-Touch__Cell::before {
          content: url('../assets/img/headq_cell.svg');
          margin-right: 10px;
        }

        .Get-in-Touch__Email::before {
          content: url('../assets/img/headq_mail.svg');
          margin-right: 10px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 560px) {
  .container {
    width: 100%;

    .header,
    .header-contact-us {
      height: 55vh;
      width: 100%;

      .header__up,
      .header__up-contact-us {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        border-bottom: none;

        .header__logo,
        .header__logo-contact-us {
          border-right: none;
          padding-right: 0;
          margin-bottom: 15px;
          margin-top: 10px;
        }

        .header__cellphone,
        .header__cellphone-contact-us {
          display: none;
        }

        li {
          margin-bottom: 5px;
        }
      }

      .header-contact-us__map {
        max-width: 100%;
      }

      .header__text {
        text-align: center;
        min-width: 320px;
        margin-top: 50px;
      }

      .header__button {
        margin: auto;
      }
    }

    .BestOfOurFeatures {
      margin: auto;

      .EmptyBlocks {
        display: none;
      }

      .ListsDown {
        margin-bottom: 0;
        margin-left: 0;
        text-align: center;

        .ListsDown__list {
          margin-right: 0;
        }
      }
    }

    .LookingFor {
      display: none;
    }

    .ValeriaBoltneva {
      .ValeriaBoltneva__about {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;

        .ValeriaBoltneva__p {
          margin-right: 0;
        }
      }

      .ValeriaBoltneva__foto {
        max-width: 100%;
        background-size: cover;
        background-position: center;
        margin-top: 20px;
        margin-bottom: 0;
      }
    }

    .Built {
      margin-top: 90px;
      text-align: center;
      height: 20vh;

      .Built__h3 {
        margin-left: 0;
        padding-top: 20px;
        width: 100%;
      }

      .Built__p {
        margin-left: 0;
        width: 100%;
      }

    }

    .PricingPlan {
      .PricingPlan__lists {
        .PricingPlan__ul {
          margin-right: 0;
        }
      }
    }

    .Get-in-Touch {
      .Get-in-Touch__Form-Headquater {
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        width: 100%;

        .Get-in-Touch__Form {
          width: 80%;
          margin-right: 0;
          text-align: center;
          margin-bottom: 20px;

          input,
          textarea {
            width: 90%;
          }
        }

        .Get-in-Touch___Headquater {
          width: 68%;

        }
      }
    }

    .Download {
      .Download__h3-p {
        text-align: center;
        margin-right: 0;

        .Download__h3 {
          margin-bottom: 10px;
        }

        .Download__p {
          margin-bottom: 10px;
        }
      }
    }

    .Footer {
      margin-top: 20px;
      display: flex;
      flex-flow: column wrap;
      align-content: center;
      justify-content: center;
    }

    .SocNetw {
      display: flex;
      flex-flow: column wrap;
      align-items: center;

      .SocNetw__AllRights {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (min-width: 561px) and (max-width: 1019px) {
  .container {

    .header,
    .header-contact-us {
      height: 65vh;
      .header__up {
      display: flex;
      flex-flow: column wrap;
      border-bottom: none;
        .header__logo{
          border-right: none;
          padding-right: 0;

        }
        .header__cellfone {
          margin-right: 0!important;
        }
        li{
          margin-bottom: 20px;
          a{
            font-size: 1.5rem;
          }
        }
      

      }
      .header-contact-us__map {
        max-width: 100%;
      }
      .header__text{
        text-align: center;
        a{
          margin: auto;
        }
      }
    }
    .LookingFor{

      .LookingFor__LeftHand-RightText{
        display: none;

      }
      
    }
    .PricingPlan{
      .PricingPlan__lists{
        display: flex;
        flex-flow: column wrap;
        align-content: center;
      }
    }
    .Download{

      .Download__h3-p{
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px;
      }
      a{
        margin: auto;
      }
    }
    .Footer{
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      margin-left: 10px;
      .Wapic,.Company, .Others{
        margin-right: 20px;
      }
      .Newsletter{
        .Newsletter__Form{
          .Newsletter__Email{
            width: 82%;
          }
        }
      }
    }
    .SocNetw{
      margin-left: 30px;
      margin-right: 30px;
    }
  }
}